.footer {
   grid-column: 1/-1;
   background-image: linear-gradient(var(--color-tertiary-m), var(--color-tertiary-m)),
      url(/images/footer/footer-bg.jpg);
   display: grid;
   grid-template-rows: repeat(3, min-content);
   grid-row-gap: 4vh;
   padding: $padding-section;
   font-weight: $font-weight-light;

   &__content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      font-size: $font-size-small;

      &--section {
         padding: 0 2rem;

         &:nth-child(2) {
            border-left: 1px solid var(--color-quinary);
            border-right: 1px solid var(--color-quinary);
         }
         &:nth-child(3) {
            border-right: 1px solid var(--color-quinary);
         }

         &__title {
            @include sec-h3;
         }

         &__list {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            &--item {
               margin-bottom: 1vh;
            }
         }
      }

      &--newsletter {
         &__info {
            color: var(--color-quinary);
            margin-bottom: 2rem;
         }

         &__input {
            display: flex;
            flex-direction: column;
            width: 100%;

            input {
               background-color: transparent;
               border: none;
               border-bottom: 1px solid white;
               outline: none;
               margin-bottom: 1rem;
               color: var(--color-quinary);
               letter-spacing: 1px;
            }

            button {
               background-color: transparent;
               border: 1px solid white;
               outline: none;
               padding: 1rem 0;
               cursor: pointer;
               color: white;
            }
         }
      }

      &--office {
         address {
            color: white;

            font-size: $font-size-small;
         }
      }
   }

   &__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      color: var(--color-quinary);

      img {
         width: 50px;
      }
   }

   &__social {
      display: flex;
      justify-content: space-between;
      font-size: $font-size-small;

      &--call {
         text-transform: uppercase;
         color: var(--color-quinary);
      }

      &--list {
         &__item {
            margin-right: 2rem;
            font-size: 1.5rem;
         }
      }
   }

   // 800px viewport
   @media (max-width: 800px) {
      &__content {
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(2, min-content);
         grid-row-gap: 3rem;

         &--section {
            &:nth-child(2),
            &:nth-child(1),
            &:nth-child(3),
            &:nth-child(4) {
               border-left: 1px solid var(--color-quinary);
               border-right: none;
            }
         }
      }

      &__social {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;

         &--list {
            &__item {
               margin-right: 0;
            }
         }
      }
   }

   @media (max-width: 500px) {
      &__content {
         grid-template-columns: 1fr;
         grid-template-rows: repeat(4, min-content);
         grid-row-gap: 2rem;
      }
   }
}
