.features {
   grid-column: 2/10;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
   padding: 3rem 0;

   &__content:first-child {
      background-image: url(/images/features/features-1.jpg);
      @include bgImages;
   }

   &__content:nth-child(2) {
      background-image: url(/images/features/features-2.jpg);
      @include bgImages;
   }

   &__content:nth-child(3) {
      background-image: url(/images/features/features-3.jpg);
      @include bgImages;
   }

   &__content:nth-child(4) {
      background-image: url(/images/features/features-4.jpg);
      @include bgImages;
   }

   &__content:nth-child(5) {
      background-image: url(/images/features/features-5.jpg);
      @include bgImages;
   }

   &__content:nth-child(6) {
      background-image: url(/images/features/features-6.jpg);
      @include bgImages;
   }

   &__content:nth-child(7) {
      background-image: url(/images/features/features-7.jpg);
      @include bgImages;
   }

   &__content:nth-child(8) {
      background-image: url(/images/features/features-8.jpg);
      @include bgImages;
   }

   &__content:nth-child(9) {
      background-image: url(/images/features/features-9.jpg);
      @include bgImages;
   }

   &__content {
      display: grid;
      grid-gap: 2vw;
      padding: 2rem;
      height: 30rem;
      align-items: center;

      &--title {
         @include sec-heading;
         text-align: center;
         font-weight: $font-weight-bold;
         letter-spacing: 0.7rem;
         background-color: var(--color-tertiary-m);
      }

      &--para {
         @include sec-para;
         text-align: center;
         font-weight: $font-size-medium;
         padding: 1rem;
      }

      &--link:link,
      &--link:visited {
         padding: 0.3rem 1rem;
         overflow: hidden;
         justify-self: start;
         border: 0.4rem solid var(--color-primary-m);
      }
   }
}

// 800px mark Break point
@media (max-width: 800px) {
   .features {
      grid-column: 1/-1;
   }
}
