// 60vh applied from the grid template
.showcase {
   grid-column: 1/-1;
   background-image: linear-gradient(var(--color-tertiary-m), var(--color-tertiary-m)),
      url(/images/showcase/showcase-bg.jpg);

   @include bgImages;
   padding: $padding-section;
}
